@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  background: rgb(250, 250, 250);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
